@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=DynaPuff&display=swap');

html {
    font-size: 62.5%;
}

/*Movile first*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    @include sizes(100%, 100%);
}

header {
    @include sizes(100%, 100%);
    font-size: large;
    justify-content: center;
    @extend .flexColumn;
    align-items: center;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 100%;
    text-align: center;
    color: black;
}


h1 {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    color: black;
}



article {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-family: 'Caveat', cursive;
    text-align: left;
    color: black;
    font-size: $size;
    font-weight: auto;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

main {
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 2rem 0rem;
}

section {
    @include sizes(100%, 100%);
}

footer {
    padding: 10% 0%;
    margin-top: 10%;
    @include sizes(100%, 100%);
    justify-content: center;
    background-color: #aa998f;
    background-image: linear-gradient(to bottom, #aa998f, white);

    @media screen and (min-width: 500px) {
        margin: 0%;
    }
}

.Header__usuario {
    @include sizes(15%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: 500px) {
        @include sizes(5%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.Header__usuario__iconos {
    height: 3rem;
}

header {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.logo__usuario__flex {
    @include sizes(100%, 100%);
    display: grid;
    grid-template-areas:
        "Logo Usuario"
        "Redes Redes";
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;

    @media screen and (min-width: 500px) {
        @include sizes(96%, 100%);
        margin-bottom: 10%;
        margin: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.Header__logo__img {
    height: 13rem;
    margin: 0rem 0.5rem;
}


.Redes {
    padding: 0%;
    border: 0.4rem solid #7d4f50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
    width: 18rem;
}

.Redes__iconos {
    height: 100%;
}

.Home__portada__grid {
    @include sizes(100%, 100%);
}

.Home__Noticias {
    @include sizes(100, 100%);
}

.Home__Noticias__img {
    width: auto;
    height: 70%;
}

.Home__título {
    width: 100%;
    height: 2%;
    font-size: 3rem;
    margin: 10% 0%;

    @media screen and (min-width:766px) {
        margin: 5% 0% 10% 0%;
    }
}

.Home__Publicidad {
    display: flex;
    @include sizes(100, 100%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow-x: hidden;

    }
}

.Publicidad__img {
    height: 60rem;
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: center;

    @media screen and (min-width: 768px) {
        height: 20rem;
        flex: 30 30 30%;
        scroll-snap-align: none;
    }
}

.Certificación__img {
    width: auto;
    height: 70%;
}

.Footer__contactos__flex {
    width: 100%;
    height: 100%;
    @extend .flexRow;
    align-items: center;
    justify-content: center;

    @media screen and (min-width:500px) {
        @include sizes(100%, 100%);
        font-size: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.Footer__políticas__flex {
    height: 100%;
    width: 100%;
    font-size: 90%;
    font-weight: 100%;
    @extend .flexColumn;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 100%;
        width: 100%;
        font-size: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.Footer__políticas__flex,
h3 {
    padding: 2% 0%;
}

.Footer__texto {
    width: 60%;
    height: 100%;
    padding: 2% 0%;

    @media screen and (min-width:500px) {
        @include sizes(100%, 100%);
        padding: 2% 7%;
    }

    @media screen and (min-width: 768px) {
        @include sizes(100%, 100%);
        padding: 2% 7%;
    }
}

.Footer__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.Productos__grid {
    @include sizes(100%, 10%);
    margin-bottom: 10%;
    overflow-y: scroll;
}

.Productos__imagen {
    height: 18rem;
    width: 100%;
}

.card-title {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 200;
}

.Carrito__iconos {
    height: 7%;
}

p.card-text {
    color: darkslategrey;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.calificación {
    direction: rtl;
    unicode-bidi: bidi-override;
}

input[type="radio"]:checked~label {
    color: orange;
}

.Recetas__título {
    width: 100%;
    height: 2%;
    font-size: 3rem;
    margin: 10% 0%;

    @media screen and (min-width:766px) {
        margin: 5% 0% 10% 0%;
    }
}

.Recetas__grid {
    @include sizes(100%, 100%);
    margin-bottom: 10%;
    overflow-y: scroll;

    .Recetas {
        @include sizes(90%, 100%);

        @media screen and (min-width:500px) {
            width: 85%;
            height: 100%;
        }

        @media screen and (min-width:768px) {
            @include sizes(100%, 100%);
        }

        .Receta__iframe {
            @include sizes(100%, 100%)
        }
    }
}

.contacto__flex {
    @extend .flexColumn;
    align-items: center;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        margin: 0% 0%;
    }

    .contacto {
        width: 100%;
        height: 100%;
        @extend .flexColumn;
        align-items: center;
        margin: 1rem 0rem;

        @media screen and (min-width:500px) {
            @include sizes(70%, 100%);
            margin: 5rem 3rem;
        }
    }

    .map {
        @include sizes(100%, 100%);

        iframe {
            width: 80%;
            height: 100%;

            @media screen and (min-width:500px) {
                width: 80%;
                height: 26rem;
            }

            @media screen and (min-width:768px) {
                width: 80%;
                height: 54rem;
            }

        }
    }

    iframe {
        width: 80%;
        height: 54rem;


    }
}

.Form {
    background-color: $color1;
    padding: 2rem 7rem;
    @extend .flexColumn;
    align-items: center;

    h2 {
        font-size: 3rem;
    }

    h5 {
        font-size: 2rem;
    }

    input {
        font-size: 3rem;
    }

    @media screen and (min-width:768px) {
        padding: 2rem 8rem;
    }
}

textarea.form-control {
    min-height: calc(1.5em + 6.75rem + 2px);
}

#contacto {
    margin-top: 1rem;
}