/*Etiquetas grid*/

.logo__usuario__grid {
    grid-area: Logo__usuario;
}

.Home__portada__grid {
    grid-area: Portada;
}

.Redes__grid {
    grid-area: Redes__grid;
}

.Redes {
    grid-area: Redes;
}

.Buscador {
    grid-area: Buscador;
}

.Home__Noticias {
    grid-area: Noticias;
}

.Home__Novedades {
    grid-area: Novedades;
}

.Home__Ofertas {
    grid-area: Ofertas;
}

.Home__Destacados {
    grid-area: Destacados;
}

.Home__Publicidad {
    grid-area: Publicidad;
}

footer {
    grid-area: Footer;
}

.Footer__contactos__flex {
    grid-area: Contactos;
}

.Footer__políticas__flex {
    grid-area: Políticas;
}

.Productos__grid {
    grid-area: Productos__grid;
}

.Productos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.Recetas__envoltorio {
    grid-area: Recetas__envoltorio;
}

/*Grillas*/

.Home__portada__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
        "Redes__grid"
        "Noticias";
    row-gap: 2%;
    justify-items: center;
}

.Redes__grid {
    width: 22%;
    height: 38%;
    margin: 2rem 0rem;
}

.Home__Noticias {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
        "Novedades"
        "Ofertas"
        "Destacados"
        "Publicidad";
    row-gap: 2%;
    align-content: space-evenly;
    justify-items: center;
}

footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    row-gap: 12%;
    grid-template-areas:
        "Políticas"
        "Contactos";
    justify-items: center;
    align-items: center;
    align-content: space-around;
}

.Home__productos__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 98%;
    grid-template-areas:
        "Redes__grid"
        "Productos__grid";
    row-gap: 2%;
    justify-items: center;
}

.Productos__grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2%;
    justify-items: center;
}

.Home__Recetas__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "Redes__grid"
        "Recetas__envoltorio";
    row-gap: 1%;
    justify-items: center;
}

.Recetas__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}