/*Bootstrap*/
/*Navbar*/

.container-fluid {
    background-color: $color3;
    padding: 1rem 1rem;
}

.navbar {
    width: 100%;
}

.d-flex {
    width: 25rem;
    font-size: $Fsize;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-start;
    align-content: flex-start;



    .nav-link {
        display: block;
        padding: 0.5rem 0rem;
        color: black;
        font-size: 100%;
    }

    @media screen and (min-width:998px) {
        li {
            padding: 0rem 1.5rem;
        }

        @media screen and (min-width: 1037px) {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
        }
    }
}

.navbar-expand-lg .navbar-nav {
    @media screen and (min-width: 1037px) {
        flex-direction: row;
    }
}

.me-auto {
    margin-right: 0rem;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*Buscador*/

.form-control {
    font-size: $Fsize*(4/3);
}
button:not(:disabled) {
    cursor: pointer;
    font-size: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 100;
    line-height: 1.5;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid $color4;
    padding: 0.375rem 0.75rem;
    font-size: $Fsize;
    background-color: $color3;
    border-radius: 0.25rem;
}