/*Transiciones, transformaciones y animaciones*/

.Header__usuario__iconos:hover {
    transform: scale(1.2);
}

.nav-item:hover {
    transform: scale(1.2)
}

.Redes__iconos:hover {
    transform: scale(1.2);
}

.Home__Noticias__img:hover {
    transform: scale(1.2);
    transition: 2s transform;
}

.Header__logo__img:hover {
    transform: scale(1.2);
}

.Productos__imagen:hover {
    opacity: 0.5;
}

label:hover,
label:hover~label {
    color: orange;
}